$red: hsl(5, 62%, 48%);

body {
    background-color: #f3f3f3;
}

.font-10 {
    font-size: clamp(8px, 0.51vw, 10px);
}

.font-11 {
    font-size: clamp(9px, 0.57vw, 11px);
}

.font-12 {
    font-size: clamp(10px, 0.62vw, 12px);
}

.font-14 {
    font-size: clamp(11px, 0.72vw, 14px);
}

.font-16 {
    font-size: clamp(14px, 0.83vw, 16px);
}

.font-18 {
    font-size: clamp(14px, 0.93vw, 18px);
}

.font-24 {
    font-size: clamp(18px, 1.25vw, 24px);
}

.font-darkgray {
    color: #9c9b99;
}

.font-lightgray {
    color: #707070;
}

.font-red {
    color: $red !important;
}

#header-wrapper {
    background-color: $red;
    height: 22vh;

    #header {
        width: 23.4%;
        height: 77%;
        background-color: #fff;

        p {
            margin: 0;
        }
    }
}

#main-wrapper {
    background-color: #f9f9f9;
    margin: 0 38.2%;
}

#progressbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style: none;
    padding: 0;
    padding-top: 20px;

    &:before {
        content: "";
        position: absolute;
        width: calc(100% - 60px);
        right: 50%;
        height: 3px;
        background: linear-gradient(to right, $red var(--percentage), #707070 0);
        transform: translate(50%, -8px);
    }

    li {
        position: relative;
        max-width: 60px;

        &:before {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #707070;
            position: absolute;
            right: 50%;
            transform: translate(50%, -15px);
        }

        &.active {
            color: #bfbfbf;
            font-weight: bold;

            &:before {
                background-color: $red;
            }
        }
    }
}

.btn {
    padding: min(15.5%, 18px) min(24%, 27px);
    border-radius: 2px;
    font-size: clamp(11px, 0.72vw, 14px);

    &.btn-danger {
        background-color: $red;
    }

    &.btn-outline-secondary {
        color: #707070;
        border-color: #707070;

        &:hover {
            color: #fff;
        }
    }
}