@charset "UTF-8";
body {
  background-color: #f3f3f3;
}

.font-10 {
  font-size: clamp(8px, 0.51vw, 10px);
}

.font-11 {
  font-size: clamp(9px, 0.57vw, 11px);
}

.font-14 {
  font-size: clamp(11px, 0.72vw, 14px);
}

.font-18 {
  font-size: clamp(14px, 0.93vw, 18px);
}

.font-24 {
  font-size: clamp(18px, 1.25vw, 24px);
}

.font-darkgray {
  color: #9c9b99;
}

.font-red {
  color: #c63b2f;
}

#header-wrapper {
  background-color: #c63b2f;
  height: 22vh;
}
#header-wrapper #header {
  width: 23.4%;
  height: 77%;
  background-color: #fff;
}
#header-wrapper #header p {
  margin: 0;
}

#form {
  width: 16.9%;
}
#form .form-control {
  border-color: #e5e5e5;
  border-radius: 2px;
}
#form .form-control:focus {
  box-shadow: none;
}

.btn {
  background-color: #707070;
  border-radius: 2px;
  padding: min(15.5%, 18px) min(24%, 27px);
}

.form-check-input {
  position: relative;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border: 0;
}
.form-check-input:focus {
  box-shadow: none;
}
.form-check-input:checked {
  background-color: #fff;
}
.form-check-input:checked:before {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 1.4rem;
  font-weight: bold;
  color: #878787;
  transform: translate(50%, -50%);
}

#progressbar-wrapper {
  width: 20%;
}
#progressbar-wrapper #progressbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  list-style: none;
  padding: 0;
  padding-top: 20px;
}
#progressbar-wrapper #progressbar:before {
  content: "";
  position: absolute;
  width: calc(100% - 60px);
  right: 50%;
  height: 3px;
  background: linear-gradient(to right, #c63b2f var(--percentage), #707070 0);
  transform: translate(50%, -8px);
}
#progressbar-wrapper #progressbar li {
  position: relative;
  max-width: 60px;
}
#progressbar-wrapper #progressbar li:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #707070;
  position: absolute;
  right: 50%;
  transform: translate(50%, -15px);
}
#progressbar-wrapper #progressbar li.active {
  color: #c63b2f;
  font-weight: bold;
}
#progressbar-wrapper #progressbar li.active:before {
  background-color: #c63b2f;
}