@charset "UTF-8";
#form {
  padding: 0 14%;
}
#form .form-control {
  border-color: #e5e5e5;
  border-radius: 2px;
}
#form .form-control:focus {
  box-shadow: none;
}

.btn {
  background-color: #707070;
  border-radius: 2px;
  padding: min(15.5%, 18px) min(24%, 27px);
}

.form-check-input {
  position: relative;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border: 0;
}
.form-check-input:focus {
  box-shadow: none;
}
.form-check-input:checked {
  background-color: #fff;
}
.form-check-input:checked:before {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 1.4rem;
  font-weight: bold;
  color: #878787;
  transform: translate(50%, -50%);
}

.my-tooltip {
  position: relative;
  padding: 0 3px;
  border-radius: 50%;
  background-color: #9c9b99;
  color: #f9f9f9;
  font-weight: bold;
  font-size: clamp(8px, 0.51vw, 10px);
  cursor: default;
}
.my-tooltip:hover::after {
  content: attr(tooltip);
  position: absolute;
  top: 50%;
  z-index: 2;
  min-width: 100px;
  max-width: 200px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  transform: translate(10%, -50%);
}