$red: #c83d2f;

.card {
    border: 0;
    line-height: 10px;
    border: 1px solid transparent;
    color: #707070;
}

label.card {
    cursor: pointer;
}

.check {
    display: none;

    &:checked + label {
        border: 1px solid $red;
    }
}

#custom-input {
    border: 0;
    border-bottom: 1px solid #989898;
    padding-bottom: 2px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #989898;
        text-align: center;
    }
}
